extends layout

block content
  header
    h1 Skylanders Api
    h2 Documentation
    h3 This is an unofficial Rest API.

  main
    div.img-container
      img(src="https://github.com/MatteoBernard/SkylandersApi/raw/master/public/images/skylanders-logo.png", alt="Skylanders Logo")

    div
      h2 Skylanders
      h4 JSON Structure
        div.json
          p {
          p   "id" : 1,
          p   "name" : "Air Strike",
          p   "gender" : "Male",
          p   "species" : "Air Strike: Unknown - Birdie: Blue Zephyr Falcon",
          p   "release" : "Skylanders: Imaginators",
          p   "role" : "Senseis",
          p   "element" : "Air,
          p   "quote" : "Fight and Flight!",
          p   "abilities" : {
          p   "abilitie1" : "Bird Brawl",
          p   "abilitie2" : "Bird Dive Bomb",
          p   "abilitie3" : "Spinning Bird Fist",
          p   "abilitie4" : "Eye of the Storm",
          p   "abilitie5" : "Free Range Eggs"
          p   },
          p   "description" : "Before he began training Brawlers, Air Strike trained...",
          p   "image" : "path/to/image"
          p }
      ul
        li
          p.before-route Get all Skylanders
          p.route GET /skylanders
        li
          p.before-route Get a Skylander by ID
          p.route GET /skylanders/:id
        li
          p.before-route Get a Skylander by Name
          p.route GET /skylandersByName/:name
        li
          h3 Get Skylanders from a Specific Game
          ul
            li
              p.before-route Skylanders: Spyro's Adventure
              p.route GET /skylandersFromSpyrosAdventure
            li
              p.before-route Skylanders: SuperCharger
              p.route GET /skylandersFromSuperChargers
            li
              p.before-route Skylanders: Imaginators
              p.route GET /skylandersFromImaginators
            li
              p.before-route Skylanders: Giants
              p.route GET /skylandersFromGiants
            li
              p.before-route Skylanders: Swap Force
              p.route GET /skylandersFromSwapForce
        li
          p.before-route Get Skylanders by Element
          p.route GET /skylandersByElement/:element
    div
      h2 Special Skylanders
    div
      h2 Elements
      h4 JSON Structure
      div.json
        p {
        p   "name" : "Air",
        p   "description" : "That amazing feeling of defying gravity! That, my friend, is something only we feel.",
        p   "image" : "path/to/image"
        p }
      ul
        li
          p.before-route Get all Elements
          p.route GET /elements
        li
          p.before-route Get an Element by Name
          p.route GET /elements/:name
    div
      h2 Games
  footer
    p Source code :
      a(href="https://github.com/MatteoBernard/SkylandersApi") Github
    p Hosted on Cyclic
