extends layout

block content
  header
    h1 Skylanders Api
    h3 This is an unofficial Rest API.

  main
    div.img-container
      img(src="https://github.com/MatteoBernard/SkylandersApi/raw/master/public/images/skylanders-logo.png", alt="Skylanders Logo")

    div
      h2 Documentation
      p For route information, please visit :
        a(href="/api-docs") Documentation

    div
      h2 Available Data
      p The Skylanders API provides access to a variety of data related to the Skylanders franchise.
      p Users can retrieve information about Skylanders characters, including their names, genders, species, release years, roles, elements, quotes, abilities, descriptions, and images.
      p Additionally, the API offers details about elemental types, such as their names, descriptions, and images.
      p Furthermore, users can access data about the games in the Skylanders series, including their names, release years, and images.
      p Finally, the API also provides information about Skylanders figures, encompassing their names, associated games, types, variant status, descriptions, and images.
      p This comprehensive API allows developers to integrate Skylanders-related data into their applications, enhancing user experiences and providing valuable resources for fans of the franchise.

    div
      h2 About the Skylanders API
      p The Skylanders API is an unofficial, open-source project aimed at providing access to data related to the Skylanders franchise.
      p It offers information on characters, elements, games, and figures. As an open-source project, feedback and contributions are welcome to improve its functionality and accuracy.

  footer
    p Source code :
      a(href="https://github.com/MatteoBernard/SkylandersApi") Github
    p Hosted on :
      a(href="https://www.cyclic.sh/") Cyclic
    p Documentation with :
      a(href="https://swagger.io/") Swagger
